# python compiled files
/src/__pycache__/

# python environment
/src/venv/

# env file
/src/.env

# images uploaded by users
/src/data/*

!.gitkeep

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
