:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    //color-scheme: light dark;
    //color: rgba(255, 255, 255, 0.87);
    --accent-color: orange;
    --accent-color: #ef6c00;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#nprogress {
    .bar {
        background: var(--accent-color);
        height: 4px;
    }

    .peg {
        box-shadow: 0 0 10px var(--accent-color), 0 0 5px var(--accent-color);
    }

    .spinner-icon {
        border-top-color: var(--accent-color);
        border-left-color: var(--accent-color);
    }
}

section {
    padding: 2rem 1rem;

    &:nth-child(2n) {
        background-color: #E3F2FD;
    }
}

article {
    max-width: 1280px;
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;

    input,
    button,
    textarea,
    select {
        width: 100%;
    }
}

select,
input,
button,
textarea {
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    background-color: #fff;
    border: 0;
    font: inherit;
    color: #404040;
    color: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
}

textarea {
    resize: none;
}


h1 {
    font-size: 2.2em;
    color: var(--accent-color);
}

h2 {
    font-size: 2em;
    color: var(--accent-color);
    margin: .5em 0;
}

a {
    color: var(--accent-color);
}

hr {
    width: 100%;
    border: 1px solid var(--accent-color);
}


.markdown {
    img {
        max-width: 100%;
        width: 400px;
        display: block;
        margin: auto;

        &[alt$=">"] {
            float: right;
            margin: 1em 0 1em 1em;
        }

        &[alt$="<"] {
            float: left;
            margin: 1em 1em 1em 0;
        }
    }

    table {
        border-collapse: collapse;

        th, td {
            border: solid 1px var(--accent-color);
            padding: .5em 1em;
        }

        th {
            background-color: #88888844;
            background: var(--bg-color);
        }
    }

    blockquote {
        border-left: .4em solid var(--accent-color);
        padding-left: 1em;
        margin-left: 0;
    }
}