.deck {
    display: flex;
    flex-wrap: wrap;
}
.deck .card {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 0.5em;
    margin: 0.2em;
    padding: 0.2em;
    flex: 1 0 16em;
}

.asso ul {
    list-style: none;
    padding: 0;
}
.asso li {
    display: inline-block;
    margin: 0.2em;
}

.asso a {
    display: inline-block;
    padding: 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    text-decoration: none;
    color: #000;
}
.asso a:hover {
    background-color: #ccc;
}